
body {
    background-color: #34495e;
    margin-top: 1em;
    margin-bottom: 1em;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #bdc3c7; /*Text Color*/
}

.content{
   line-height: 1.5;
}

#footer {
    margin-top: 4em;
}

a {
    color: #2ecc71;
}

a:visited {
    color: #16a085;
}

#header{
    font-size: 16pt;
}

#header a {
    color: #bdc3c7;
    text-decoration: none;
}

#header a:visited{
    color: #bdc3c7;
}

#header a:hover{
    text-decoration: underline;
}

#topicList {
    word-wrap: break-word;
}

#themeBtn{
    margin-top: 1em;
}

.archiveEntry{
    margin-bottom: 4em;
}
