<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/pure.css">
<link rel="stylesheet" type="text/css" href="/grids-responsive-min.css">
<link id="lightThemeCSS" rel="stylesheet" type="text/css" href="/style.css">
<link id="darkThemeCSS" rel="stylesheet" type="text/css" href="/dark_style.css">

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/script.js"></script>